#top-section{
    margin-left: 10px;
    background-color: #DEDEDE	;
}

#home-notification{
    background-color: black;
    color: white;
    display: none;
}

#feature-display{
background-color: #858585;
height: 500px;
}

#feature-display h4{
    color: white;
    padding-top: 1%;
}

#feature-display h2{
    color: white;
}

#img-div1{
position: absolute;
left: 400px;
display: none;
}

#itunes-div{
    background-color: black;
    min-height: 500px;
}

#itunes-div h1{
    color: white;
    padding-top: 1%;
}

#itunes-div h3{
    color: white;
}

#card-space{
    margin-bottom: 5px;
}