* {
    box-sizing: border-box;
}


/* NAV BAR */

#goat {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    transition: transform 0.2s;
}

.sidenav a:hover {
    color: #f1f1f1;
    transform: scale(1.1);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: 0.5s;
    padding: 16px;
}


/* END OF NAV BAR */


/* SHIPPING */

#home-notification {
    background-color: black;
    color: #FFFF;
    margin-top: 40px;
}


/*END OF SHIPPING */


/* SHOP TITLE */

#pageTitle {
    text-align: center;
}


/* END OF SHOP TITLE */


/* IMG SHOWCASE */

.j11 {
    width: 100%;
    height: 100%;
}

.j11-text {
    position: absolute;
    bottom: 12%;
    left: 5%;
}

#imgShowcase {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 110%;
}


/* END OF IMG SHOWCASE */


/* IMG SHOWCASE 2 */

#imgShowcase2 {
    width: 45%;
    position: absolute;
    top: 240%
}

.airmax-text {
    position: absolute;
    bottom: 12%;
    left: 5%;
    color: black;
}


/* END OF IMG SHOWCASE 2 */


/* IMG SHOWCASE 3 */

#imgShowcase3 {
    width: 45%;
    position: absolute;
    top: 320%
}

.kyrie-text {
    position: absolute;
    bottom: 12%;
    left: 5%;
    color: white;
}

.kyrie {
    width: 550px;
    height: 450px;
}


/* END OF IMG SHOWCASE 3 */


/* LATEST FASHION */

#latestTitle {
    width: 50%;
    border: 1px solid black;
    margin-left: -10px;
    margin-top: 50px;
}

.notification {
    text-align: center;
    background-color: #ffff;
}

#latestFashion {
    width: 50%;
    margin-left: -15px;
    border: 1px solid black;
    margin-top: 50px;
}

#css3dimagePager {
    text-align: center;
    position: relative;
    z-index: 11;
    padding: 0 0 10px;
    margin-top: 240px;
    right: 10px;
}

#css3dimagePager li:hover {
    transform: scale(1.2);
}

#css3dimagePager li {
    padding-right: 15px;
    display: inline-block;
    cursor: pointer;
    padding-left: 15px;
    transition: transform .2s;
}

#css3dimagePager li.active {
    font-weight: bold;
}

#css3dimageslider {
    -webkit-perspective: 1000;
    -moz-perspective: 1000px;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-perspective-origin: 50% 100px;
    -moz-perspective-origin: 50% 100px;
    -ms-perspective-origin: 50% 100px;
    perspective-origin: 50% 100px;
    margin-top: 50px;
    width: 100%;
    height: 200px;
}

#css3dimageslider ul {
    position: relative;
    margin: 0 auto;
    height: 281px;
    width: 450px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 100px 0;
    -moz-transform-origin: 50% 100px 0;
    -ms-transform-origin: 50% 100px 0;
    transform-origin: 50% 100px 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#css3dimageslider ul li {
    position: absolute;
    height: 281px;
    width: 450px;
    padding: 0px;
}

#css3dimageslider ul li:nth-child(1) {
    -webkit-transform: translateZ(225px);
    -moz-transform: translateZ(225px);
    -ms-transform: translateZ(225px);
    transform: translateZ(225px);
}

#css3dimageslider ul li:nth-child(2) {
    -webkit-transform: rotateY(90deg) translateZ(225px);
    -moz-transform: rotateY(90deg) translateZ(225px);
    -ms-transform: rotateY(90deg) translateZ(225px);
    transform: rotateY(90deg) translateZ(225px);
}

#css3dimageslider ul li:nth-child(3) {
    -webkit-transform: rotateY(180deg) translateZ(225px);
    -moz-transform: rotateY(180deg) translateZ(225px);
    -ms-transform: rotateY(180deg) translateZ(225px);
    transform: rotateY(180deg) translateZ(225px);
}

#css3dimageslider ul li:nth-child(4) {
    -webkit-transform: rotateY(-90deg) translateZ(225px);
    -moz-transform: rotateY(-90deg) translateZ(225px);
    -ms-transform: rotateY(-90deg) translateZ(225px);
    transform: rotateY(-90deg) translateZ(225px);
}


/* img for latest fashion */

.coming {
    width: 350px;
    height: 350px;
}


/* END OF COMING LATEST FASHION */


/* CELEBS GALLERY */

#celebsTitle {
    border: 1px solid black;
    width: 50%;
    position: relative;
    left: 25.5%;
    margin-top: 70px;
}

#celebsGallery {
    width: 50%;
    position: absolute;
    left: 50%;
}

.hello {
    opacity: 1 !important;
}

.full {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.full .content {
    background-color: rgba(0, 0, 0, 0.75) !important;
    height: 100%;
    width: 100%;
    display: grid;
}

.full .content img {
    left: 50%;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.byebye {
    opacity: 0;
}

.byebye:hover {
    transform: scale(0.2) !important;
}

.gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 8px;
}

.gallery img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
}

.gallery img:hover {
    box-shadow: 0 0 32px #333;
}

.gallery .content {
    padding: 4px;
}

.gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.gallery .gallery-item:hover {
    transform: scale(1.025);
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}

@media (max-width: 400px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

@-moz-keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}

@-webkit-keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}

@-o-keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}

@keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}


/* END OF CELEBS GALLERY */